* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  padding: 2rem 2rem;
  font-family: "Lato", sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 55px;
  background-color: #eed1bb;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.navbar-menu {
  display: flex;
  justify-content: space-between;
}

.navbar-menu li {
  list-style-type: none;
  padding-left: 10px;
}

.navbar-menu li a {
  text-decoration: none;
  padding-left: 10px;
}

.container {
  font-size: 1.5rem;
  margin: 25px auto 0 auto;
  max-width: 700px;
}

h2 {
  margin-top: 2.5rem;
  text-align: center;
}

p {
  line-height: 30px;
  margin-bottom: 20px;
}

.display {
  height: 6rem;
  width: 100%;
  background-color: #858693;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  color: #fff;
  font-size: 3rem;
}

.btnPanel {
  width: 100%;
  background-color: #e0e0e0;
}

.btnPanelRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 6.25rem;
}

.lastRow {
  grid-template-columns: 2fr 1fr 1fr;
}

.btnPanelRow button {
  font-size: 3rem;
}

.btnPanelRow button:last-child {
  background-color: #f39148;
}
